apiVersion: v1
kind: ConfigMap
metadata:
    name: myconfig
data:
    grafana.ini: |-
        dashboardsProvider.enabled=true
        datasources.secretName=grafana-datasource-secret
        dashboardsConfigMaps[0].configMapName=grafana-dashboard-config1
        dashboardsConfigMaps[0].fileName=grafana_dashboard_config1.json
        dashboardsConfigMaps[1].configMapName=grafana-dashboard-config2
        dashboardsConfigMaps[1].fileName=grafana_dashboard_config2.json
